body {
    background-color: darkgreen;
}
header {
    color: goldenrod;
    text-align: center;
}
footer {
    color: goldenrod;
    text-align: center;
}
.navbar {
    text-align: center;
    align-items: center;
}
